$primary: #f7a60c;
$black: #2b2a29;
$white: #fff;
$background: #fefefe;
$background-light: #f8f8f8;
$background-dark: #b2b3b3;
$placeholder: #d9dada;
$light-gray: #cdcbcb;
$gray: #ccc;
$orange: #ff7426;
$light-blue: #06b0b0;
$light-peach: #fff1dc;
$bg-orange:  #FFA726E5;

$primary_background: #f6c363;

$main_yellow: #ffa726;
$dark_grey: #3b3a39;
$light-bg: #f4f4f4;
